# GymOS SaaS - Environment Variables Template
# Copia este archivo a .env.local para personalizar la conexión a tu proyecto de Firebase.

# Firebase Project Credentials
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAnkNGipTl1bH4sHvvJkVIHzDS4RGW60AU
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=gymos-saas.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=gymos-saas
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=gymos-saas.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=176518675928
NEXT_PUBLIC_FIREBASE_APP_ID=1:176518675928:web:77a3267f27b7059998c6ad

# Commercial Product Identification
NEXT_PUBLIC_PRODUCT_MODE=B2B_CORE_SAAS # B2B_CORE_SAAS | BOUTIQUE_MOBILE
